/* set-up border-box */
*,
*::before,
*::after{
    box-sizing: border-box;
}


:root{
    /* --custom name: value; */

    /* BACKGROUND COLORS */
    /* header and footer background */
    --navy-clr: #1f2937;
    /* button and call to action background */
    --sky-clr: #3882f6;
    /* quote section background */
    --gray-clr: #e5e7eb;

    /* FONT COLORS */
    /* hero main ("this website is awesome") text */
    --hero-main-txt: #f9faf8;
    /* hero secondary, header link text */
    --hero-secondary-txt: #e5e7eb;
    /* header logo text */
    --header-logo-txt: #f9faf8;
    /* header ("some random information") text */
    --header-txt: #1f2937;
    /* quote text */
    --quote-txt: #1f2937;

    /* example: color: var(--navy-clr) */
}

body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.container{
    /* padding: 10px 40px; */
}

.header.container{
    flex-grow: 1;
    background-color: var(--navy-clr);
    padding: 1px 100px 50px 100px;
}
            .top.header.container{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            .header-logo{
                font-size: 24px;
                font-weight: bold;
                color: var(--header-logo-txt);
            }
            .hero-main-text{
                font-size: 48px;
                font-weight: bolder;
                color: var(--hero-main-txt);
            }
            .hero-secondary-text,
            li{
                font-size: 18px;
                color: var(--hero-secondary-txt);
            }
            ul{
                list-style: none;
                display: flex;
                gap: 20px;
            }
            .bottom.header.container{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .hero.text.block{
                width: 50%;
            }
            button{
                background-color: var(--sky-clr);
                border-radius: 5px;
                padding: 10px 30px;
                border-style: none;
                color: var(--hero-secondary-txt);
                font-size: 17px;
                font-weight: bold;
            }
            .img-placeholder{
                color: var(--hero-secondary-txt);
                background: grey;
                padding: 80px 60px;
            }
.top.container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
            .random-information{
                text-align: center;
            }

            .img-and-subtxt.top.container{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 40px;
            }
            .img-and-subtxt.top.item{
                width: 130px;
                text-align: center;
            }

            .blank-img{
                width: 130px;
                height: 130px;
                border-radius: 10px;
                border: 4px solid blue;
            }

.middle.container{
    flex-grow: 1;
    background-color: var(--gray-clr);
}
            .quote{
                text-align: center;
            }
            .thor-attribute{
                text-align: end;
            }
.bottom.container{
    flex-grow: 1;
}
            .call-to-action-background{
                background-color: var(--sky-clr);
                margin: 30px;
                border-radius: 15px;
            }
            .call-to-act.bottom.container{
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
.footer.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0,0,auto;
    background-color: var(--navy-clr);
}